<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>this is main project</h1>

    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="receipe/student">Student Database</a></li>
                <li><a href="receipe/">receipe</a></li>
                <li><a href="authentication/">Authentication</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <p>&copy; 2023 TechCity. All rights reserved.</p>
    </footer>
</body>
</html>
