<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update receipe</title>
</head>
<body>



<h1 align="center">update Receipe Form</h1>

<div class="mb-3" align="center">
<form class="form-group" method="post" name="form" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <div>
        <label>Receipe Name</label> <input  type="text"  name="receipeName"  placeholder="{{rec.name}}">
    </div>
    <div>
        <label>Receipe Drescribtion</label> <textarea name="receipeDisc" style="width: 600px; height: 100px">{{rec.desc}}</textarea>
    </div>
    <div>
        <label>Recipe Image</label>     <input  name="receipeImg" type="file">
    </div>
    <button type="submit">save receipe</button>

</form>



</div>

</body>
</html>